<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>VIVID HOSPITAL(add new patient)</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>VIVID HOSPITAL</h1>
		<hr>
		<h2>Save Patient</h2>

		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				placeholder="Patient First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Patient Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}"
				placeholder="Patient Email_ID" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{gender}"
				placeholder="Patient Gender" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{age}"
				placeholder="Patient Age" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{bg}"
				placeholder="Patient Blood_Group" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{phone}"
				placeholder="Patient Phone_no" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Patient</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Patient List</a>
	</div>
</body>
</html>

